<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137927868263-s8fk07qo03vjmdmbcg5r20sn0jmp37eo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137927868263-s8fk07qo03vjmdmbcg5r20sn0jmp37eo</string>
	<key>API_KEY</key>
	<string>AIzaSyBVI8aaS5vge2Hhyuluuzu_M5owdFMwR-c</string>
	<key>GCM_SENDER_ID</key>
	<string>137927868263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDeliveryApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-40493</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-40493.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137927868263:ios:ab6284e4ca079429d639c2</string>
</dict>
</plist>